/*body*/
body {
  background-image: url("/public/imagenes/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  font-family: "Nunito Sans", sans-serif;
  color: whitesmoke;
}
h1 {
  padding: 2rem;
}

/*main*/
.areaDeTrabajo {
  margin: 1 rem;
}
.contenedor {
  min-width: 350px;
}
/*botones*/
.contenedorButtons {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  justify-content: space-around;
}

#contenedorRes {
  width: 100%;
}
#igual {
  width: 30%;
  display: flex;
  place-content: center;
}
.boton {
  width: 14%;
}
/*FOOTER*/
.divFoot {
  display: flex;
  place-content: center;
  width: 50%;
  margin: 0 auto;
}
footer P {
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  footer p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1200px) {
  .col-md-4 {
    columns: md-6;
  }
  .contenedor {
    min-width: 422px;
  }
}

@media only screen and (min-width: 1201px) {
}
